<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ToDo List</title>
</head>
<body>
<div class="flex justify-center">
    <div class="w-1/2 mt-8 flex flex-col items-center">
        <div class="flex align-center flex-col gap-5 w-full">
            <h2 class="text-3xl font-bold text-center">ToDo List</h2>
            <form class="flex flex-col gap-5" action="/list" method="POST">
                <div class="flex flex-row gap-5 items-center">
                    <label class="w-32 text-right" for="todoTitle">Todo Title:</label>
                    <input class="w-2/3 border-solid border-2 border-black-500 p-2" type="text" name="todoTitle" placeholder="Enter ToDo Title">
                </div>
                <div class="flex flex-row gap-5 items-center">
                    <label class="w-32 text-right" for="todoDesc">Todo Description:</label>
                    <input class="w-2/3 border-solid border-2 border-black-500 p-2" type="text" name="todoDesc" placeholder="Enter ToDo Description">
                </div>
                <div class="flex flex-row gap-5 items-center">
                    <button></button>
                    <button class="ms-32 p-2 w-48 bg-green-700 text-white hover:bg-green-600" type="submit">Insert ToDo</button>
                </div>
            </form>
            <h2 class="text-1xl text-red-500"><%= message %></h2>
        </div>
        
        <div class="my-5 flex flex-col w-2/3">
            <% all_lists.forEach(list => { %>
                <div class="p-7 mb-3 flex flex-col gap-4 rounded-[15px]  <%= list.backgroundColor %>">
                    <div class="flex flex-row justify-between items-center">
                        <p class="text-2xl font-bold text-wrap"><%= list.todoTitle %></p>
                        <div class="flex flex-row-reverse gap-2">
                            <a href="/list/<%= list._id %>">
                                <button class="p-2 flex justify-center align-center items-center rounded-full bg-red-500 text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6">
                                        <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                                    </svg>                                  
                                </button>
                            </a>
                            <form method="POST" action="/list/<%= list._id %>?_method=DELETE" >
                                <button type ="submit" class="p-2 flex justify-center align-center items-center rounded-full bg-red-500 text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
                                    </svg>                                                                   
                                </button>
                            </form>
                            <!-- </a> -->
                        </div>
                        
                    </div>
                    <p class="text-wrap"><%= list.todoDesc %></p>
                </div>
            <% }); %>
        </div>
    </div>
</div>
    
</body>
</html>
